{% extends 'Map2uForumBundle:Common:Layout/base.html.twig' %}

{% set LayoutTemplate = map2u_forum.topic.user.show.layout_template %}

{%- block title -%}
	{{- 'title.topic.show' | trans({'%topic_title%': topic.getTitle |capitalize}, 'Map2uForumBundle') -}}
{%- endblock title -%}

{%- block sidebar -%}
	{%- spaceless -%}
	{{- parent() -}}
    {%- include 'Map2uForumBundle:Common:Layout/Sidebar/user_forum.html.twig' -%}
	{%- endspaceless -%}
{%- endblock sidebar -%}

{%- block body_content -%}
    {%- spaceless -%}

	<section class="row clearfix btn-toolbar">
        {%- include 'Map2uForumBundle:User:Topic/Partial/topic_actions.html.twig' -%}
	</section>

	{%- include "Map2uForumBundle:User:Topic/Partial/stat_vitals.html.twig" -%}

	{%- if topic.isDeleted or topic.isClosed or topic.isSticky -%}
		{%- include "Map2uForumBundle:User:Topic/Partial/stat_mods.html.twig" -%}
	{%- endif -%}

	{{- knp_pagination_render(pager) -}}

	<section class="row clearfix">
	    {%- for key, post in pager.getItems() -%}
	        {%- include "Map2uForumBundle:User:Post/Partial/item_post.html.twig" -%}
	    {%- endfor -%}
	</section>

	{{- knp_pagination_render(pager) -}}

    {%- endspaceless -%}
{%- endblock body_content -%}
